# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Dependencies
/node_modules

# Angular
/.angular

# IDEs and editors
/.idea
/.vscode

# Misc
npm-debug.log
yarn-error.log
.DS_Store

# Package files
package-lock.json
