<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="vh-100 vw-100 bg-white position-relative" style="background-image: url(assets/signup-bg.svg); background-size: cover; background-position: center;"> 

  <div class="container-fluid">
    <div class="row">
      <div class="col-4 vh-100 position-relative">

        <!-- Left-Side Form -->
        <div class="position-relative left-side">
          <form>
            <h3 class="text-[#EF5252] fw-bold fs-1">NomNash</h3>
            <p class="text-[#EF5252] fs-2 mb-4">Create an account to get started.</p>

              <div class="form-group mb-3">
                <label for="username" class="form-label text-[#EF5252] fs-5">Your username:</label>
                <input type="username" class="form-control username-input" id="username" placeholder="Enter username" name="username" [(ngModel)]="user.name" required>
              </div>

              <p class="text-[#EF5252] mb-3 fs-5">Your role:</p>
              <div class="form-check">
                <input class="form-check-input radio-pink" type="radio" name="role" id="student-visitor" [(ngModel)]="user.role" checked>
                <label class="form-check-label text-[#F38181] ms-2" for="student-visitor">
                  Student
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input radio-pink" type="radio" name="role" id="business-owner" [(ngModel)]="user.role">
                <label class="form-check-label text-[#F38181] ms-2" for="business-owner">
                  Business Owner
                </label>
              </div>

              <div class="mb-4"></div> <!-- spacer -->

              <button type="submit" class="btn pink-button" onclick="linkGoogleAccount()">Submit</button>
          </form>
        </div>
      </div>

  </div>

</div>