<div class="vh-100 vw-100 bg-[#F7B0B0] d-flex justify-content-center align-items-center">

  <div class="container vh-100 d-flex justify-content-center align-items-center full-height">
    <div class="card p-4 bg-[#D9D9D9] position-relative">
    <form>
        <div class="form-group mb-3 text-center">
          <label for="username" class="form-label text-[#EF5252]"><b>Create your username:</b></label>
          <input type="username" class="form-control username-input" id="username" placeholder="Enter username">
        </div>

        <p class="text-[#EF5252] text-center mb-3"><b>Select your role:</b></p>
        <div class="form-check d-flex justify-content-center align-items-center">
          <input class="form-check-input radio-pink" type="radio" name="role" id="student-visitor" checked>
          <label class="form-check-label text-[#F38181] ms-2" for="student-visitor">
            Student/Visitor
          </label>
        </div>
        <div class="form-check d-flex justify-content-center align-items-center">
          <input class="form-check-input radio-pink" type="radio" name="role" id="business-owner">
          <label class="form-check-label text-[#F38181] ms-2" for="business-owner">
            Business Owner
          </label>
        </div>

        <div class="mb-4"></div> <!-- spacer -->

        <button type="submit" class="btn pink-button position-absolute start-50 translate-middle-x">Submit</button>
    </form>
    </div>
  </div>

</div>