.username-input {
  background-color: #F38181;
  color: white;
}

::placeholder {
  color: #F7B0B0;
}

.radio-pink:checked {
  background-color: #F38181;
  border-color: #F38181;
}

.pink-button {
  background-color: #EF5252;
  border-color: #EF5252;
  color: white;
}

.left-side {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100vh;
  padding: 0 10%;
}