<div class="mx-auto max-w-3xl">
  <form>

    <div class="grid grid-cols-1 gap-4 md:grid-cols-4 md:gap-2">

      <!-- stars -->
      <div class="relative md:col-span-1">
        <div class="flex h-10 w-full rounded-md border border-input bg-white text-black px-3 py-2 text-sm">
          
          <svg 
            xmlns="http://www.w3.org/2000/svg" 
            width="24" 
            height="24" 
            viewBox="0 0 24 24" 
            fill="none" 
            stroke="currentColor" 
            stroke-width="2" 
            stroke-linecap="round" 
            stroke-linejoin="round" 
            class="h-6 w-6 opacity-50 mr-2">
            <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
          </svg>

          <select id="rating-filter" name="rating-filter" class="w-full flex-grow bg-transparent outline-none border-none">
            <option value="5star">5</option>
            <option value="4star">4</option>
            <option value="3star">3</option>
            <option value="2star">2</option>
            <option value="1star">1</option>
          </select>
          
        </div>
      </div>

      <!-- price range -->
      <div class="relative md:col-span-1">
        <div class="flex h-10 w-full rounded-md border border-input bg-white text-black px-3 py-2 text-sm">

          <span class="flex items-center text-2xl opacity-50 mr-2" style="user-select: none;">$</span>

          <select id="price-filter" name="price-filter" class="w-full flex-grow bg-transparent outline-none border-none">
            <option value="1"><$20</option>
            <option value="2">$20-$40</option>
            <option value="3">$40-$60</option>
            <option value="4">$60-$100</option>
            <option value="5">>$100</option>
          </select>

        </div>
      </div>

      <!-- cuisine type -->
      <div class="relative md:col-span-1">
        <div class="flex h-10 w-full rounded-md border border-input bg-white text-black px-3 py-2 text-sm">
          
          <span class="flex items-center text-2xl opacity-50 mr-2" style="user-select: none;">☕︎</span>

          <select id="cuisine-filter" name="cuisine-filter" class="w-full flex-grow bg-transparent outline-none border-none">
            <option value="italian">Italian</option>
            <option value="mexican">Mexican</option>
            <option value="asian">Asian</option>
            <option value="cafe">Cafe</option>
            <option value="drinks">Drinks</option>
          </select>
          
        </div>
      </div>

      <!-- submit -->
      <div class="relative md:col-span-1">
        <button class="bg-[#EF5252] hover:bg-[#CCDF92] text-white font-medium py-2 px-4 rounded">
          Let's go
        </button>
      </div>

    </div>

  </form>

</div>

